.btn{
    font-family: $font-prim;
    font-size: $fs-m;
    font-weight: 800;
    color:transparent;
    width: fit-content;
    padding: 8px 12px;
    background-color: var(--color-btn);
    background-image: linear-gradient(var(--color-btn) 50%, var(--color-btn-2) 50%);

    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    
    transition: .3s all ease-out;
    cursor: pointer;

    position: relative;
    z-index: 0;

    &:hover{
        background-color: var(--color-btn-2);
        background-position: bottom;
    }

    &:active{
        transform: translateY(-3px);
    }

    &:disabled{
        --color-btn: #{$grey-3};
        pointer-events: none;
    }
}