.btn{
    font-family: $font-second;
    font-size: $fs-r;
    padding: 8px 12px;

    background: var(--color-btn);

    outline: transparent;
    cursor: pointer;

    transition: .3s all ease-out;

    &:hover{
        --color-btn: #{$clr-third-50}
    }

    &:active{
        transform: translateY(-5px);
    }

    &:disabled{
        --color-btn: #{$grey-2};
        pointer-events: none;
    }
}