.menu{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    &__nav{
        width: 100vw;
        height: 100vh;
        padding: 48px;
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        background-color: $clr-second--lighter;
    
        transform: translate(100%);
        transition: .2s all ease-out;
        pointer-events: initial;

        &--open{
            transform: translate(0);
        }
    }

    &__btn{
        position: fixed;
        top: 24px;
        right: 24px;
        pointer-events: initial;
    }
}