/* display visual grid */
.grid{
    height: 100%;
    width: 100vw;
    position : fixed;
    top : 0;
    left : 0;
    pointer-events: none;

    transform-origin: top;
    animation-name: grow;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    background-color: transparent;

    z-index: 300000;
    opacity: 1;

    &.invisible{
        opacity: 0;
    }

    li{
        background-color: rgba(84, 95, 199, 0.055);
        border: 1px solid rgba(84, 96, 199, 0.493);
        list-style-type: none;
        opacity : .5;
    }

    &__desk{
        @include grid-full;
        height: 100%;
        margin : 0;

        @media (max-width:$bp-xl){
            display: none;
        }
    }

    &__tablet{
        @include grid-full;
        height: 100%;
        margin : 0;
        
        display: none;
        @media screen and (min-width: $bp-xs) and (max-width: $bp-xl){
            display: grid;
        }

    }

    &__mobile{
        @include grid-full;
        height: 100%;
        margin : 0;

        @media (min-width: $bp-xs){
            display: none;
        }
    }
}

@keyframes grow{
    from{
        transform: scaleY(0);
    }
}